# Hey! Nice to see you

Welcome to my page!
I'm Stephane, Infrastructure Enginer from **Lille, France**. I like to share my knowledges and you can access all examples in my projects.

{% if badges is defined -%}
## I use often :

{% for badge in badges %}{{ badge }}{% endfor %}

{% endif -%}

{% if USER.blog %}
## My latest blog posts :

{% for post in last_posts %}
* [{{post.title}}]({{post.link}})
{% endfor %}
{% endif %}

{% if links is defined %}
## My links :

{% for link in links %}
* [{{link.title}}]({{link.link}})
{% endfor %}
{% endif %}

## Where to find me

[{{ linkedin.badge }}]({{ linkedin.url }}) [{{ twitter.badge }}]({{ twitter.url }})

## Weather
{{ weather }}
